body{
    background-color: lightgray;
}
.fa{
    color: rgb(49, 85, 163);
}
a{
    border-bottom: 1px solid blue;
}
.box-part{
    background-color: white;
    margin: 20px 0px;
    padding: 60px 0px;
}
.text{
    margin: 20px 0px;
}
.box{
    padding: 60px 0px;
}